*{
    margin:5px;
    padding: 0px;
    box-sizing:border-box;
}

body{
    
    height:100%;
    background-repeat: no-repeat;
}
.container{
background-color: white;
max-width:250px;
min-width:200px;

}
input[type="color"]{
    background-color: transparent;
    border: none;
   width: 80px;
    height: 50px;
}

input[type='radio'], label{
    display:none;
    background-color: rgb(162, 162, 162);
    color:#333;
   

}
label{
    margin:0.5rem;
    display:block;
    padding: 0.5rem;

}
input[type="radio"]:checked + label {
    background-color: rgb(162, 162, 162);
    color:#333;
}
.directions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.direction{
    display: inline-block;
    
}