*{
    margin: 1px;
    padding: 1px;
   }
   .class{
    padding:5px;
    
   }
   h1{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif
   }
   h2{
    font-size: 25px;
    font-weight:bold;
    font-family: 'Nunito', sans-serif; 
    padding-top: 10px;

   }
body{
   background-image: url('http://online.hbs.edu/Style%20Library/api/resize.aspx?imgpath=/online/PublishingImages/blog/health-care-economics.jpg&w=1200&h=630');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right top;
    background-color: aliceblue;
    font-family: 'Nunito', sans-serif; 

}
button{
    background-color: rgb(41, 101, 242);
    padding-top: 10px 5px 2px 2px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid;
    display:inline-block;
    height:30px;
    width: 100px;



}
span {
    color:rgb(26, 151, 218);
 }