*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
form{
    background: whitesmoke;
    width:40vh;
    height:65vh;
   
}
#search{
    padding:5px;
    margin-top: 5px;
    width:auto;
    height:auto;
    background: rgb(86, 86, 242);
}

label {
    display:inline-block;
    width:200px;
    padding:5px;
    margin-top:2px;
    
}
input, label{
 margin-left:10px;
 width: 180px;
}
button{
    background-color: rgb(86, 86, 242);
    color:white;
    padding: 5px;
    margin-top:5px;
    margin-left: 10px;
    width: 80px;
    border-radius: 5px;
    box-shadow: none;

}
.cars{
    display: flex;
}
.database{
   flex:3;
   margin-left: 20px;
    
}

table, th, tr,td{
    border:0.2rem  white;
    border-collapse:collapse;
    padding:5px;
}
th{
    background-color: rgb(86, 86, 242);
    color:white;
}
tr{
background-color: antiquewhite;
}
td{
    text-align: center;
}
span{
    color:blue;
    
}